<h1 class="title">Seja bem vindo!</h1>
<p class="text">Olá, <%= @user.email %>!</p>
<p class="text">Seu usuário é: <%= @user.email%></p>
<p class="text center">Sua senha é: <b><%= @generated_password %></b></p>
